* {
    font-family: 'Courier New', monospace; /* Globally changing the font across the entire website */
}

li a:hover:not(.active) {
    background-color: rgb(106, 106, 106);
}
  
  .active {
    background-color: #07abbd;
}

a {                           /* This changes the color and font size of all links */
    color : #025b96;
    font-size: 14pt;
    display: block;
    padding: 8px;
}

h1 {
    padding-left : 44%;
    font-size: 30pt;
    position : relative;
}


input[type=text], input[type=email], select {         /* From W3Schools ( Formatting Forms ) */
    box-sizing: border-box;
    width: 250px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

li {
    display: inline;
    float : left;
    border-right: 1px solid #bbb;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(151, 151, 151);
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color:rgb(120, 119, 119);
  }

header {
    padding-right: 60px;
}